@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    --color-background: white;
    --color-content: black;
    font: 20px 'Open Sans', sans-serif;

    background: var(--color-background);
    color: var(--color-content);
}

.invisible {
    display:none;
}

img {
    max-width: 61.8%; 
}

ul {
    list-style-type:none;
}